In [32]:
import pandas as pd
import ast

In [3]:
df =pd.read_csv('sofifa-final-byType.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   21337 non-null  int64
 1   URL          21337 non-null  object
 2   Player Name  21337 non-null  object
 3   Type         21337 non-null  object
 4   Season       21337 non-null  object
 5   Club/Nation  21337 non-null  object
 6   Name         21337 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB

In [11]:
new_order = ['URL', 'Name', 'Type', 'Season', 'Club/Nation']
df = df[new_order]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   URL          21337 non-null  object
 1   Name         21337 non-null  object
 2   Type         21337 non-null  object
 3   Season       21337 non-null  object
 4   Club/Nation  21337 non-null  object
dtypes: object(5)
memory usage: 833.6+ KB

In [17]:
df.head()

,URL,Name,Type,Season,Club/Nation
0,https://sofifa.com/player/107084/michael-lange...,michael-langer,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['FC Schalke 04', 'FC Schalke 04', 'FC Schalke..."
1,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,League,"['2024/2025', '2022/2023', '2022/2023', '2021/...","['FC Sion', 'FC Sion', 'FC Lugano', 'FC Lugano..."
2,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,National,"['2013', '2012', '2011', '2010', '2009']","['Switzerland', 'Switzerland', 'Switzerland', ..."
3,https://sofifa.com/player/118794/andy-lonergan...,andy-lonergan,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['Wigan Athletic', 'Everton', 'Everton', 'Ever..."
4,https://sofifa.com/player/125871/hasan-ali-kal...,hasan-ali-kaldirim,League,"['2024/2025', '2023/2024', '2023/2024', '2022/...","['Kayserispor', 'Kayserispor', 'MKE Ankaragücü..."

# Get starting year for players in their career

In [30]:
df['Season'].head()

0    ['2024/2025', '2023/2024', '2022/2023', '2021/...
1    ['2024/2025', '2022/2023', '2022/2023', '2021/...
2             ['2013', '2012', '2011', '2010', '2009']
3    ['2024/2025', '2023/2024', '2022/2023', '2021/...
4    ['2024/2025', '2023/2024', '2023/2024', '2022/...
Name: Season, dtype: object

In [34]:
def get_start_year(season_years_list):

    years_list = ast.literal_eval(season_years_list)
        
        


    num_length = len(years_list)

    start_year =  years_list[num_length-1]

    return start_year


df['Start_year'] = df['Season'].apply(get_start_year)

df[['Season', 'Start_year']].head()

                                              Season Start_year
0  ['2024/2025', '2023/2024', '2022/2023', '2021/...  2007/2008
1  ['2024/2025', '2022/2023', '2022/2023', '2021/...  2006/2007
2           ['2013', '2012', '2011', '2010', '2009']       2009
3  ['2024/2025', '2023/2024', '2022/2023', '2021/...  2006/2007
4  ['2024/2025', '2023/2024', '2023/2024', '2022/...  2009/2010

In [42]:
def get_recent_end_year(season_years_list):

    years_list = ast.literal_eval(season_years_list)
        
        


    #num_length = len(years_list)

    end_year =  years_list[0]

    return end_year


df['End/Recent_year'] = df['Season'].apply(get_recent_end_year)

df[['Season', 'End/Recent_year']].head()

                                              Season End/Recent_year
0  ['2024/2025', '2023/2024', '2022/2023', '2021/...       2024/2025
1  ['2024/2025', '2022/2023', '2022/2023', '2021/...       2024/2025
2           ['2013', '2012', '2011', '2010', '2009']            2013
3  ['2024/2025', '2023/2024', '2022/2023', '2021/...       2024/2025
4  ['2024/2025', '2023/2024', '2023/2024', '2022/...       2024/2025

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   URL              21337 non-null  object
 1   Name             21337 non-null  object
 2   Type             21337 non-null  object
 3   Season           21337 non-null  object
 4   Club/Nation      21337 non-null  object
 5   Start_year       21337 non-null  object
 6   End/Recent_year  21337 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [46]:
df.head()

,URL,Name,Type,Season,Club/Nation,Start_year,End/Recent_year
0,https://sofifa.com/player/107084/michael-lange...,michael-langer,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['FC Schalke 04', 'FC Schalke 04', 'FC Schalke...",2007/2008,2024/2025
1,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,League,"['2024/2025', '2022/2023', '2022/2023', '2021/...","['FC Sion', 'FC Sion', 'FC Lugano', 'FC Lugano...",2006/2007,2024/2025
2,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,National,"['2013', '2012', '2011', '2010', '2009']","['Switzerland', 'Switzerland', 'Switzerland', ...",2009,2013
3,https://sofifa.com/player/118794/andy-lonergan...,andy-lonergan,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['Wigan Athletic', 'Everton', 'Everton', 'Ever...",2006/2007,2024/2025
4,https://sofifa.com/player/125871/hasan-ali-kal...,hasan-ali-kaldirim,League,"['2024/2025', '2023/2024', '2023/2024', '2022/...","['Kayserispor', 'Kayserispor', 'MKE Ankaragücü...",2009/2010,2024/2025

In [54]:
df['Career_length'] = 1

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   URL              21337 non-null  object
 1   Name             21337 non-null  object
 2   Type             21337 non-null  object
 3   Season           21337 non-null  object
 4   Club/Nation      21337 non-null  object
 5   Start_year       21337 non-null  object
 6   End/Recent_year  21337 non-null  object
 7   Career_length    21337 non-null  int64
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [60]:


def extract_start_year(start_year_string):

    if '/' in start_year_string:
        year = str(start_year_string.split('/')[0])
        return year
    else:
        return start_year_string


df['Start_year_final'] = df['Start_year'].apply(extract_start_year)

df[['Start_year', 'Start_year_final']].head()

  Start_year Start_year_final
0  2007/2008             2007
1  2006/2007             2006
2       2009             2009
3  2006/2007             2006
4  2009/2010             2009

In [78]:
def extract_end_year(start_year_string):

    if '/' in start_year_string:
        year = str(start_year_string.split('/')[0])

        return year
    else:
        return start_year_string


df['End/Recent_year_final'] = df['End/Recent_year'].apply(extract_end_year)

df[['End/Recent_year', 'End/Recent_year_final']].head()

  End/Recent_year End/Recent_year_final
0       2024/2025                  2024
1       2024/2025                  2024
2            2013                  2013
3       2024/2025                  2024
4       2024/2025                  2024

In [82]:
year_map = {
    'empty': '0'
}

df['Start_year_final'] = df['Start_year_final'].replace(year_map)
df['End/Recent_year_final'] = df['End/Recent_year_final'].replace(year_map)

In [84]:
df['Start_year_final'] = df['Start_year_final'].astype(int)
df['End/Recent_year_final'] = df['End/Recent_year_final'].astype(int)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   URL                    21337 non-null  object
 1   Name                   21337 non-null  object
 2   Type                   21337 non-null  object
 3   Season                 21337 non-null  object
 4   Club/Nation            21337 non-null  object
 5   Start_year             21337 non-null  object
 6   End/Recent_year        21337 non-null  object
 7   Career_length          21337 non-null  int64
 8   Start_year_final       21337 non-null  int32
 9   End/Recent_year_final  21337 non-null  int32
dtypes: int32(2), int64(1), object(7)
memory usage: 1.5+ MB

In [88]:
df.head()

,URL,Name,Type,Season,Club/Nation,Start_year,End/Recent_year,Career_length,Start_year_final,End/Recent_year_final
0,https://sofifa.com/player/107084/michael-lange...,michael-langer,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['FC Schalke 04', 'FC Schalke 04', 'FC Schalke...",2007/2008,2024/2025,1,2007,2024
1,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,League,"['2024/2025', '2022/2023', '2022/2023', '2021/...","['FC Sion', 'FC Sion', 'FC Lugano', 'FC Lugano...",2006/2007,2024/2025,1,2006,2024
2,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,National,"['2013', '2012', '2011', '2010', '2009']","['Switzerland', 'Switzerland', 'Switzerland', ...",2009,2013,1,2009,2013
3,https://sofifa.com/player/118794/andy-lonergan...,andy-lonergan,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['Wigan Athletic', 'Everton', 'Everton', 'Ever...",2006/2007,2024/2025,1,2006,2024
4,https://sofifa.com/player/125871/hasan-ali-kal...,hasan-ali-kaldirim,League,"['2024/2025', '2023/2024', '2023/2024', '2022/...","['Kayserispor', 'Kayserispor', 'MKE Ankaragücü...",2009/2010,2024/2025,1,2009,2024

In [96]:
df['Career_length'] = df['End/Recent_year_final'] - df['Start_year_final']

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21337 entries, 0 to 21336
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   URL                    21337 non-null  object
 1   Name                   21337 non-null  object
 2   Type                   21337 non-null  object
 3   Season                 21337 non-null  object
 4   Club/Nation            21337 non-null  object
 5   Start_year             21337 non-null  object
 6   End/Recent_year        21337 non-null  object
 7   Career_length          21337 non-null  int32
 8   Start_year_final       21337 non-null  int32
 9   End/Recent_year_final  21337 non-null  int32
dtypes: int32(3), object(7)
memory usage: 1.4+ MB

In [100]:
df.head()

,URL,Name,Type,Season,Club/Nation,Start_year,End/Recent_year,Career_length,Start_year_final,End/Recent_year_final
0,https://sofifa.com/player/107084/michael-lange...,michael-langer,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['FC Schalke 04', 'FC Schalke 04', 'FC Schalke...",2007/2008,2024/2025,17,2007,2024
1,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,League,"['2024/2025', '2022/2023', '2022/2023', '2021/...","['FC Sion', 'FC Sion', 'FC Lugano', 'FC Lugano...",2006/2007,2024/2025,18,2006,2024
2,https://sofifa.com/player/108061/reto-ziegler/...,reto-ziegler,National,"['2013', '2012', '2011', '2010', '2009']","['Switzerland', 'Switzerland', 'Switzerland', ...",2009,2013,4,2009,2013
3,https://sofifa.com/player/118794/andy-lonergan...,andy-lonergan,League,"['2024/2025', '2023/2024', '2022/2023', '2021/...","['Wigan Athletic', 'Everton', 'Everton', 'Ever...",2006/2007,2024/2025,18,2006,2024
4,https://sofifa.com/player/125871/hasan-ali-kal...,hasan-ali-kaldirim,League,"['2024/2025', '2023/2024', '2023/2024', '2022/...","['Kayserispor', 'Kayserispor', 'MKE Ankaragücü...",2009/2010,2024/2025,15,2009,2024

In [112]:
career_year_map = {
    0: 1
}

df['Career_length'] = df['Career_length'].replace(career_year_map)

In [114]:
df.to_csv('sofifa-career-length.csv', encoding='utf-8-sig')